.fixed-top {
    position: inherit;
}

main {
    padding-top: 0px;
    font-size: .9em;
}

#logo {
    text-align: center;
}

#logo-img {
    width: 75%;
    height: auto;
    margin: 0 auto;
}

#menu-header img {
    width: 90%;
    height: auto;
}

.phone {
    text-align: center;
    font-size: 1em;
}

.address span {
    position: relative;
    display: block;
    letter-spacing: 0.5ch;
}

#specials img {
    width: 60%;
}

#flourish img {
    width: 80%;
}

.container {
    width: auto;
}

#cups > div:first-of-type,
#cups > div:last-of-type {
    display: none;
}